.sub-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.6rem;
  font-size: 1.5rem;
  width: 100%;
}

.sub-titulo h1 {
  font-size: 48px;
}

.sub-titulo p {
  width: 93%;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
