header {
  background-color: #202020;
  width: 100%;
  padding: 8px 4rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar img {
  width: 140px;
}

.navbar nav {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  text-decoration: none;
  color: white;
}

#create-account {
  border: 2px solid #444444;
  padding: 12px;
  border-radius: 4px;
}

#create-account:hover {
  border-color: white;
  transition: linear 0.1s;
}
