header {
  background-color: #202020;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94%;
  justify-content: space-between;
}

.navbar img {
  width: 140px;
}

.navbar nav {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  text-decoration: none;
  color: white;
}

#create-account {
  border: 2px solid #444444;
  padding: 12px;
  border-radius: 4px;
  transition: linear 0.1s;
}

#create-account:hover {
  border-color: white;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  height: 32px;
}

.sub-header p {
  font-size: 20px;
}
